# TAREA 3 - MODULO 7
# Emeric Zhito Jimenez Gomez

In [1]:
import pandas as pd

In [2]:
# Leer archivo csv
df = pd.read_csv("1-onebigfilecompletowithColumns.csv")

In [3]:
# Mostrar columnas
df.columns

Index(['CarrierCode', 'FlightNumber', 'OriginAirportCode',
       'DestinationAirportCode', 'DateOfFlightOperation',
       'DayOfWeekofFlightOp', 'ScheduledDepartureTime_OAG',
       'ScheduledDepartureTime_CRS', 'GateDepartureTime_Actual',
       'ScheduledArrivalTime_OAG', 'ScheduledArrivalTime_CRS',
       'GateArrivalTime(actual)',
       'Difference_between_OAG_and_CRS_scheduled_departure_times',
       'Difference_between_OAG_and_CRS_scheduled_arrival_times',
       'Scheduled_elapsed_time_per_CRS', 'Actual_gate_to_gate_time',
       'Departure_delay_time_(actual_minutes_CRS)',
       'Arrival_delay_time_(actual_minutes_CRS)',
       'Elapsed_time_difference_(actual_minutes_CRS)',
       'Wheels_off_time_(actual)', 'Wheels_on_time_(actual)',
       'Aircraft_tail_number', 'Column22', 'Column23', 'Column24',
       'Cancellation_code', 'Carrier_Caused_Delays(minutes)',
       'Extreme_Weather_Delays(minutes)', 'NAS_Delays(minutes)',
       'SecurityDelay(minutes)', 'Late_Arriving_Aircraft(Minutes)', 'Column31',
       'Column32', 'Column33', 'Column34', 'Column35', 'Column36', 'Column37',
       'Column38', 'Column39', 'Column40', 'Column41', 'Column42', 'Column43',
       'Column44', 'Column45', 'Column46', 'Column47', 'Column48', 'Column49',
       'Column50', 'Column51', 'Column52', 'Column53', 'Column54', 'Column55',
       'Column56', 'Column57', 'Column58', 'Column59', 'Column60', 'Column61',
       'Column62', 'Column63', 'Column64', 'Column65', 'Column66', 'Column67',
       'Column68', 'Column69', 'Column70'],
      dtype='object')

In [4]:
#Ver que columnas tienen valores nulos
columnas_con_nulos = df.columns[df.isnull().any()].tolist()
columnas_con_nulos

['Cancellation_code',
 'Column31',
 'Column32',
 'Column33',
 'Column34',
 'Column35',
 'Column36',
 'Column37',
 'Column38',
 'Column39',
 'Column40',
 'Column41',
 'Column42',
 'Column43',
 'Column44',
 'Column45',
 'Column46',
 'Column47',
 'Column48',
 'Column49',
 'Column50',
 'Column51',
 'Column52',
 'Column53',
 'Column54',
 'Column55',
 'Column56',
 'Column57',
 'Column58',
 'Column59',
 'Column60',
 'Column61',
 'Column62',
 'Column63',
 'Column64',
 'Column65',
 'Column66',
 'Column67',
 'Column68',
 'Column69',
 'Column70']

In [5]:
# Borrar columnas
df.drop(['Column31', 'Column32', 'Column33', 'Column34', 'Column35', 'Column36', 'Column37', 'Column38', 'Column39', 'Column40', 'Column41', 'Column42', 'Column43', 'Column44', 'Column45', 'Column46', 'Column47', 'Column48', 'Column49', 'Column50', 'Column51', 'Column52', 'Column53', 'Column54', 'Column55', 'Column56', 'Column57', 'Column58', 'Column59', 'Column60', 'Column61', 'Column62', 'Column63', 'Column64', 'Column65', 'Column66', 'Column67', 'Column68', 'Column69', 'Column70'], axis=1, inplace=True)
df

,CarrierCode,FlightNumber,OriginAirportCode,DestinationAirportCode,DateOfFlightOperation,DayOfWeekofFlightOp,ScheduledDepartureTime_OAG,ScheduledDepartureTime_CRS,GateDepartureTime_Actual,ScheduledArrivalTime_OAG,...,Aircraft_tail_number,Column22,Column23,Column24,Cancellation_code,Carrier_Caused_Delays(minutes),Extreme_Weather_Delays(minutes),NAS_Delays(minutes),SecurityDelay(minutes),Late_Arriving_Aircraft(Minutes)
0,AA,1,JFK,LAX,20050101,6,900,900,901,1210,...,N338AA,27,8,338,NaN,0,0,0,0,0
1,AA,1,JFK,LAX,20050102,7,900,900,855,1210,...,N323AA,18,34,349,NaN,0,0,26,0,0
2,AA,1,JFK,LAX,20050103,1,900,900,901,1210,...,N336AA,15,12,370,NaN,0,0,28,0,0
3,AA,1,JFK,LAX,20050104,2,900,900,856,1210,...,N327AA,41,39,350,NaN,0,0,56,0,0
4,AA,1,JFK,LAX,20050105,3,900,900,857,1210,...,N327AA,14,8,335,NaN,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
556401,WN,2059,BWI,JAX,20050118,2,1330,1330,1415,1535,...,N429,5,3,95,NaN,19,0,0,0,4
556402,WN,2563,BWI,JAX,20050118,2,800,800,800,1005,...,N388SW,12,12,96,NaN,0,0,0,0,0
556403,WN,2613,BWI,JAX,20050118,2,2010,2010,2010,2215,...,N444,10,5,105,NaN,0,0,0,0,0
556404,WN,136,BWI,LAS,20050118,2,755,755,755,1020,...,N715SW,13,3,274,NaN,0,0,0,0,0
556405,WN,217,BWI,LAS,20050118,2,1935,1935,2030,2200,...,N485,7,3,274,NaN,0,0,0,0,0

In [6]:
# Ver valores únicos de la columna ('0')
#df['Cancellation_code'].unique()

# Reemplazar valores
df['Cancellation_code'].replace('0', 'D', inplace=True)

# Comprobar
resultado = df.query('Cancellation_code == "D"')
print(resultado['Cancellation_code'].count())

39537

In [7]:
# Ver valores buscados
print(df['Column22'].describe())
print(df['Column23'].describe())
print(df['Column24'].describe())

count    556406.000000
mean         15.868520
std          11.837116
min           0.000000
25%          10.000000
50%          14.000000
75%          19.000000
max        1339.000000
Name: Column22, dtype: float64
count    556406.000000
mean          7.895350
std          47.123822
min           0.000000
25%           4.000000
50%           5.000000
75%           8.000000
max        1459.000000
Name: Column23, dtype: float64
count    556406.000000
mean         96.860963
std          86.552528
min       -1420.000000
25%          50.000000
50%          80.000000
75%         129.000000
max        1624.000000
Name: Column24, dtype: float64

In [8]:
# Renombrar columnas
df.rename(columns={'Column22': 'CodControl_B'}, inplace=True)
df.rename(columns={'Column23': 'CodControl_A'}, inplace=True)
df.rename(columns={'Column24': 'CodControl_C'}, inplace=True)
df

,CarrierCode,FlightNumber,OriginAirportCode,DestinationAirportCode,DateOfFlightOperation,DayOfWeekofFlightOp,ScheduledDepartureTime_OAG,ScheduledDepartureTime_CRS,GateDepartureTime_Actual,ScheduledArrivalTime_OAG,...,Aircraft_tail_number,CodControl_B,CodControl_A,CodControl_C,Cancellation_code,Carrier_Caused_Delays(minutes),Extreme_Weather_Delays(minutes),NAS_Delays(minutes),SecurityDelay(minutes),Late_Arriving_Aircraft(Minutes)
0,AA,1,JFK,LAX,20050101,6,900,900,901,1210,...,N338AA,27,8,338,NaN,0,0,0,0,0
1,AA,1,JFK,LAX,20050102,7,900,900,855,1210,...,N323AA,18,34,349,NaN,0,0,26,0,0
2,AA,1,JFK,LAX,20050103,1,900,900,901,1210,...,N336AA,15,12,370,NaN,0,0,28,0,0
3,AA,1,JFK,LAX,20050104,2,900,900,856,1210,...,N327AA,41,39,350,NaN,0,0,56,0,0
4,AA,1,JFK,LAX,20050105,3,900,900,857,1210,...,N327AA,14,8,335,NaN,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
556401,WN,2059,BWI,JAX,20050118,2,1330,1330,1415,1535,...,N429,5,3,95,NaN,19,0,0,0,4
556402,WN,2563,BWI,JAX,20050118,2,800,800,800,1005,...,N388SW,12,12,96,NaN,0,0,0,0,0
556403,WN,2613,BWI,JAX,20050118,2,2010,2010,2010,2215,...,N444,10,5,105,NaN,0,0,0,0,0
556404,WN,136,BWI,LAS,20050118,2,755,755,755,1020,...,N715SW,13,3,274,NaN,0,0,0,0,0
556405,WN,217,BWI,LAS,20050118,2,1935,1935,2030,2200,...,N485,7,3,274,NaN,0,0,0,0,0

In [9]:
# Comprobar
print(df['CodControl_B'].describe())
print(df['CodControl_A'].describe())
print(df['CodControl_C'].describe())

count    556406.000000
mean         15.868520
std          11.837116
min           0.000000
25%          10.000000
50%          14.000000
75%          19.000000
max        1339.000000
Name: CodControl_B, dtype: float64
count    556406.000000
mean          7.895350
std          47.123822
min           0.000000
25%           4.000000
50%           5.000000
75%           8.000000
max        1459.000000
Name: CodControl_A, dtype: float64
count    556406.000000
mean         96.860963
std          86.552528
min       -1420.000000
25%          50.000000
50%          80.000000
75%         129.000000
max        1624.000000
Name: CodControl_C, dtype: float64